@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Press+Start+2P&display=swap');
/* https://nostalgic-css.github.io/NES.css/ */


*
*::before,
*::after{
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #a7a480;
}

.nes-container with-title {
  width: 25%;
}